@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Pacifico&display=swap');

.logo {
  height: 35px;
  filter:invert(100%);


}

.MuiPaper-root.MuiAppBar-root {
  /* background: rgb(250,239,137);
  background: linear-gradient(90deg, rgba(250,239,137,1) 10%, rgba(255,236,60,1) 52%,
   rgba(242,242,242,0.6923144257703081) 94%, rgba(255,255,150,1) 98%);
  box-shadow: 0px 0px 8px 4px rgba(243, 222, 29, 0.219); */
  background: rgb(250,239,137);
  background: linear-gradient(90deg, rgba(250,239,137,1) 10%,
   rgba(119,95,9,0.8519782913165266) 36%, rgba(214,195,32,1) 75%, rgba(255,255,150,1) 98%);
  position: sticky;
  top: 0;
  z-index: 10;
  font-family:"Pacifico";
}

.MuiContainer-root.MuiContainer-maxWidthXl {
  padding: 5px 30px;
 
}
.img-nav{
  height:1%;
  width:5%;

  
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight:500;
  font-size:1rem;
}

.nav-link {
  font-size: 17px;
  /* color: black; */
  text-decoration: none;
  font-weight: 500;
  margin-right: 40px;
  /* color:white; */
  /* font-family:"Pacifico"; */
  

}

.nav-link:hover {
  color: rgb(0, 0, 0);
}

.drawerLinks a {
  margin-top: 30px;
}

.active {
  color: rgb(11, 10, 12);
}
.MuiToolbar-root.MuiToolbar-regular {
  width: 100%;
  display: flex;
  padding:12px 8px;
  justify-content: space-between;
  /* background-color: black; */
  /* font-family:"Pacifico"; */
}
@media screen and (min-width: 600px) and (max-width: 640px) {
  .aboutUs{
    margin-right: 0px !important;
  }
}
